nav {
  height: 100%;
  width: 100%;

  li {
    list-style-type: none;

    margin: {
      top: 15px;
      bottom: 15px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #000000;
      font-weight: 400;

      &:hover {
        color: #1F97DD;
        ;
      }
    }

    ul {
      height: 0;
      opacity: 0;
      overflow: hidden;

      list-style-type: none;
      padding-left: 0;

      margin: {
        top: 15px;
        left: 15px;
      }

      transition: all .1s linear;

      &.open {
        height: 80px;
        opacity: 1;
      }

      li {
        font-size: 14px;
      }
    }
  }
}
