<h1>Lista de Classes</h1>

<div class="button-group">
  <button (click)="navigate('/dashboard')" class="btn">Voltar</button>
  <button (click)="navigate('/dashboard/classrooms/form')" class="btn">Nova Classe</button>
</div>

<table mat-table [dataSource]="classRooms" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let classRoom">{{ classRoom.name }}</td>
  </ng-container>

  <ng-container matColumnDef="startAt">
    <th mat-header-cell *matHeaderCellDef>Horário de início</th>
    <td mat-cell *matCellDef="let classRoom">{{ classRoom.startAt }}</td>
  </ng-container>

  <ng-container matColumnDef="endAt">
    <th mat-header-cell *matHeaderCellDef>Horário de término</th>
    <td mat-cell *matCellDef="let classRoom">{{ classRoom.endAt }}</td>
  </ng-container>

  <ng-container matColumnDef="ageRange">
    <th mat-header-cell *matHeaderCellDef>Faixa Etária</th>
    <td mat-cell *matCellDef="let classRoom">{{ classRoom.ageRange }}</td>
  </ng-container>

  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef>Professor</th>
    <td mat-cell *matCellDef="let classRoom">{{ classRoom.teacher }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="getRecord(myRowData)"></tr>
</table>
