.button-group {
  margin-top: 10px;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;

  button {
    background: #1A76D2;
    color: #FFFFFF
  }
}

table {
  width: 100%;
  margin-top: 50px
}
