<h1>Lista de Professores</h1>

<div class="button-group">
  <button (click)="navigate('/dashboard')" class="btn">Voltar</button>
  <button (click)="navigate('/dashboard/teachers/form')" class="btn">Novo Professor</button>
</div>

<table mat-table [dataSource]="teachers" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let teacher">{{ teacher.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let teacher">{{ teacher.name }}</td>

  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
