<form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="form card shadow-lg o-hidden border-0 my-5">
  <div class="form-group">
    <h1>Novo Professor</h1>
  </div>
  <div class="form-group">
    <label>Nome Completo</label>
    <input [(ngModel)]="form.name" type="text" name="name" class="form-control" />
  </div>
  <div *ngIf="!isLoading && !isNew" class="form-group button-group">
    <button (click)="navigate('/dashboard/teachers')" class="btn">Voltar</button>
    <button type="submit" class="btn">Atualizar</button>
    <button (click)="delete()" class="btn">Excluir</button>
  </div>
  <div *ngIf="!isLoading && isNew" class="form-group button-group">
    <button (click)="navigate('/dashboard/teachers')" class="btn">Voltar</button>
    <button type="submit" class="btn">Registrar</button>
  </div>
  <div *ngIf="isLoading" class="form-group button-group">
    <p>Porfavor aguarde...</p>
  </div>
</form>
