/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~bootstrap/dist/css/bootstrap.min.css';

$gray-default: #EEEEEE;
$red-default: #DD1f38;
$green-default: #1FDDCB;
$blue-default: #1F97DD;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
